/* Johto Badges. Row 1*/
#ZEPHYR_BADGE {
	background-image: url(./images/items/Zephyr_Badge.png);
}
#HIVE_BADGE {
	background-image: url(./images/items/Hive_Badge.png);
}
#PLAIN_BADGE {
	background-image: url(./images/items/Plain_Badge.png);
}
#FOG_BADGE {
	background-image: url(./images/items/Fog_Badge.png);
}
#STORM_BADGE {
	background-image: url(./images/items/Storm_Badge.png);
}
#MINERAL_BADGE {
	background-image: url(./images/items/Mineral_Badge.png);
}
#GLACIER_BADGE {
	background-image: url(./images/items/Glacier_Badge.png);
}
#RISING_BADGE {
	background-image: url(./images/items/Rising_Badge.png);
}

/* HMs, Row 2 */
#HM_CUT {
	background-image: url(./images/items/hm01.png);
}
#HM_FLY {
	background-image: url(./images/items/hm02.png);
}
#HM_SURF {
	background-image: url(./images/items/hm03.png);
}
#HM_STRENGTH {
	background-image: url(./images/items/hm04.png);
}
#HM_FLASH {
	background-image: url(./images/items/hm05.png);
}
#HM_WHIRLPOOL {
	background-image: url(./images/items/hm06.png);
}
#HM_WATERFALL {
	background-image: url(./images/items/hm07.png);
}

/* Kanto Badges, Row 3 */
#BOULDER_BADGE {
	background-image: url(./images/items/Boulder_Badge.png);
}
#CASCADE_BADGE {
	background-image: url(./images/items/Cascade_Badge.png);
}
#THUNDER_BADGE {
	background-image: url(./images/items/Thunder_Badge.png);
}
#RAINBOW_BADGE {
	background-image: url(./images/items/Rainbow_Badge.png);
}
#SOUL_BADGE {
	background-image: url(./images/items/Soul_Badge.png);
}
#MARSH_BADGE {
	background-image: url(./images/items/Marsh_Badge.png);
}
#VOLCANO_BADGE {
	background-image: url(./images/items/Volcano_Badge.png);
}
#EARTH_BADGE {
	background-image: url(./images/items/Earth_Badge.png);
}

/* Items, Row 4 */
#ITEM_BICYCLE {
	background-image: url(./images/items/Bicycle.png);
}
#ITEM_ESCAPE_ROPE {
	background-image: url(./images/items/Escape_Rope.png);
}
#ITEM_WATER_STONE {
	background-image: url(./images/items/Water_Stone.png);
}
#ITEM_ITEMFINDER {
	background-image: url(./images/items/Dowsing_MCHN.png);
}
#ITEM_RED_SCALE {
	background-image: url(./images/items/Red_Scale.png);
}
#ITEM_SECRETPOTION {
	background-image: url(./images/items/Secret_Potion.png);
}
#ITEM_S_S_TICKET {
	background-image: url(./images/items/S.S._Ticket.png);
}
#ITEM_MYSTERY_EGG {
	background-image: url(./images/items/Mystery_Egg.png);
}
#ITEM_CLEAR_BELL {
	background-image: url(./images/items/Clear_Bell.png);
}

/* Items, Row 5 */
#ITEM_CARD_KEY {
	background-image: url(./images/items/Card_Key.png);
}
#ITEM_MACHINE_PART {
	background-image: url(./images/items/Machine_Part.png);
}
#ITEM_LOST_ITEM {
	background-image: url(./images/items/Lost_Item.png);
}
#ITEM_BASEMENT_KEY {
	background-image: url(./images/items/Basement_Key.png);
}
#ITEM_PASS {
	background-image: url(./images/items/Pass.png);
}
#ITEM_SQUIRTBOTTLE {
	background-image: url(./images/items/Squirt_Bottle.png);
}
#ITEM_RADIO_CARD {
	background-image: url(./images/items/Radio_Card.png);
}
#ITEM_EXPN_CARD {
	background-image: url(./images/items/Expn_Card.png);
}
#ITEM_POKE_GEAR {
	background-image: url(./images/items/Poke_Gear.png);
}
#ITEM_TM_ROCK_SMASH {
	background-image: url(./images/items/TM08.png);
}

/* Settings */
#RandomizeBerryTrees._0 {
	background-image: url(./images/settings/hideberry.png);
}
#RandomizeBerryTrees._1 {
	background-image: url(./images/settings/showberry.png);
}

#RandomizeHiddenItems._0 {
	background-image: url(./images/settings/hidehidden.png);
}
#RandomizeHiddenItems._1 {
	background-image: url(./images/settings/showhidden.png);
}

#RandomizeKanto._0 {
	background-image: url(./images/settings/showkanto.png);
}
#RandomizeKanto._1 {
	background-image: url(./images/settings/hidekanto.png);
}
#RandomizeKanto._2 {
	background-image: url(./images/settings/showsilver.png);
}

#Goal._0 {
	background-image: url(./images/settings/glance.png);
}
#Goal._1 {
	background-image: url(./images/settings/gred.png);
}

#EliteFourBadges._0 {
	background-image: url(./images/settings/e4_0.png);
}
#EliteFourBadges._1 {
	background-image: url(./images/settings/e4_1.png);
}
#EliteFourBadges._2 {
	background-image: url(./images/settings/e4_2.png);
}
#EliteFourBadges._3 {
	background-image: url(./images/settings/e4_3.png);
}
#EliteFourBadges._4 {
	background-image: url(./images/settings/e4_4.png);
}
#EliteFourBadges._5 {
	background-image: url(./images/settings/e4_5.png);
}
#EliteFourBadges._6 {
	background-image: url(./images/settings/e4_6.png);
}
#EliteFourBadges._7 {
	background-image: url(./images/settings/e4_7.png);
}
#EliteFourBadges._8 {
	background-image: url(./images/settings/e4_8.png);
}
#EliteFourBadges._9 {
	background-image: url(./images/settings/e4_9.png);
}
#EliteFourBadges._10 {
	background-image: url(./images/settings/e4_10.png);
}
#EliteFourBadges._11 {
	background-image: url(./images/settings/e4_11.png);
}
#EliteFourBadges._12 {
	background-image: url(./images/settings/e4_12.png);
}
#EliteFourBadges._13 {
	background-image: url(./images/settings/e4_13.png);
}
#EliteFourBadges._14 {
	background-image: url(./images/settings/e4_14.png);
}
#EliteFourBadges._15 {
	background-image: url(./images/settings/e4_15.png);
}
#EliteFourBadges._16 {
	background-image: url(./images/settings/e4_16.png);
}

#RedBadges._0 {
	background-image: url(./images/settings/silver_0.png);
}
#RedBadges._1 {
	background-image: url(./images/settings/silver_1.png);
}
#RedBadges._2 {
	background-image: url(./images/settings/silver_2.png);
}
#RedBadges._3 {
	background-image: url(./images/settings/silver_3.png);
}
#RedBadges._4 {
	background-image: url(./images/settings/silver_4.png);
}
#RedBadges._5 {
	background-image: url(./images/settings/silver_5.png);
}
#RedBadges._6 {
	background-image: url(./images/settings/silver_6.png);
}
#RedBadges._7 {
	background-image: url(./images/settings/silver_7.png);
}
#RedBadges._8 {
	background-image: url(./images/settings/silver_8.png);
}
#RedBadges._9 {
	background-image: url(./images/settings/silver_9.png);
}
#RedBadges._10 {
	background-image: url(./images/settings/silver_10.png);
}
#RedBadges._11 {
	background-image: url(./images/settings/silver_11.png);
}
#RedBadges._12 {
	background-image: url(./images/settings/silver_12.png);
}
#RedBadges._13 {
	background-image: url(./images/settings/silver_13.png);
}
#RedBadges._14 {
	background-image: url(./images/settings/silver_14.png);
}
#RedBadges._15 {
	background-image: url(./images/settings/silver_15.png);
}
#RedBadges._16 {
	background-image: url(./images/settings/silver_16.png);
}