/*** Cities ***/
/*New Bark Town*/
#elms_lab {
	left: 47.96177266576455%;
	top: 79.30887372013652%;
}
#POKEGEAR {
	left: 48.90899864682003%;
	top: 79.9914675767918%;
}
/*Cherrygroce City*/
#MYSTIC_WATER_IN_CHERRYGROVE {
	left: 34.57374830852503%;
	top: 82.23122866894198%;
}
#MAP_CARD {
	left: 37.948240866035185%;
	top: 80.24744027303754%;
}
/*Violet City*/
#sprout_tower {
	left: 29.96447902571042%;
	top: 49.296075085324226%;
}
#FRUITTREE_VIOLET_CITY {
	left: 28.755074424898513%;
	top: 57.4018771331058%;
}
#VIOLET_CITY_HIDDEN_HYPER_POTION {
	left: 31.867388362652235%;
	top: 52.367747440273035%;
}
#VIOLET_CITY_PP_UP {
	left: 27.39343707713126%;
	top: 47.86689419795221%;
}
#VIOLET_CITY_RARE_CANDY {
	left: 31.5882949932341%;
	top: 49.232081911262796%;
}
#violet_gym {
	left: 29.28788903924222%;
	top: 53.370307167235495%;
}
/*Azalea Town*/
#azalea_gym {
	left: 22.7926251691475%;
	top: 95.69112627986348%;
}
#AZALEA_TOWN_HIDDEN_FULL_HEAL {
	left: 25.63430311231394%;
	top: 92.66211604095562%;
}
#CHARCOAL_IN_CHARCOAL_KILN {
	left: 24.281123139377538%;
	top: 95.00853242320818%;
}
#kurts_house {
	left: 22.65730717185386%;
	top: 92.27815699658703%;
}
#slowpoke_well {
	left: 25.63430311231394%;
	top: 92.9820819112628%;
}
/*Goldenrod City*/
#BICYCLE {
	left: 21.304127198917456%;
	top: 75.89590443686006%;
}
#goldenrod_dept_store {
	left: 20.62753721244926%;
	top: 75.21331058020478%;
}
#SQUIRTBOTTLE {
	left: 21.845399188092017%;
	top: 67.70477815699658%;
}
#goldenrod_gym {
	left: 20.62753721244926%;
	top: 68.38737201365187%;
}
#goldenrod_underground {
	left: 18.868403247631935%;
	top: 75.89590443686006%;
}
#radio_tower {
	left: 18.056495263870094%;
	top: 70.96843003412968%;
}
/*Ecruteak City*/
#burned_tower {
	left: 20.762855209742895%;
	top: 30.866040955631398%;
}
#HM03_SURF {
	left: 23.19857916102842%;
	top: 36.326791808873715%;
}
#ECRUTEAK_CITY_HIDDEN_HYPER_POTION {
	left: 23.223951285520975%;
	top: 33.89505119453925%;
}
#ecruteak_gym {
	left: 20.898173207036535%;
	top: 38.35324232081911%;
}
#ITEMFINDER {
	left: 21.845399188092017%;
	top: 38.374573378839585%;
}
#tin_tower {
	left: 25.09303112313938%;
	top: 31.54863481228669%;
}
/*Pallet Town*/

/*Viridian City*/

/*Pewter City*/

/*Cerulean City*/

/*Vermilion City*/

/*Lavender Town*/

/*Celadon City*/

/*Saffron City*/

/*Fuchsia City*/

/*Cinnabar Island*/

/*** Routes ***/
/*1*/

/*2*/

/*4*/

/*5*/

/*8*/

/*9*/

/*10*/

/*11*/

/*12*/

/*13*/

/*15*/

/*16*/

/*17*/

/*20*/

/*23*/

/*24*/

/*25*/

/*46*/

/*Indigo Plateau*/
