/*** Cities ***/
/*New Bark Town*/
#elms_lab {
	left: 47.96177266576455%;
	top: 79.30887372013652%;
}
#POKEGEAR {
	left: 48.90899864682003%;
	top: 79.9914675767918%;
}
/*Cherrygroce City*/
#MYSTIC_WATER_IN_CHERRYGROVE {
	left: 34.57374830852503%;
	top: 82.23122866894198%;
}
#MAP_CARD {
	left: 37.948240866035185%;
	top: 80.24744027303754%;
}
/*Violet City*/
#sprout_tower {
	left: 29.96447902571042%;
	top: 49.296075085324226%;
}
#FRUITTREE_VIOLET_CITY {
	left: 28.755074424898513%;
	top: 57.4018771331058%;
}
#VIOLET_CITY_HIDDEN_HYPER_POTION {
	left: 31.867388362652235%;
	top: 52.367747440273035%;
}
#VIOLET_CITY_PP_UP {
	left: 27.39343707713126%;
	top: 47.86689419795221%;
}
#VIOLET_CITY_RARE_CANDY {
	left: 31.5882949932341%;
	top: 49.232081911262796%;
}
#violet_gym {
	left: 29.28788903924222%;
	top: 53.370307167235495%;
}
/*Azalea Town*/
#azalea_gym {
	left: 22.7926251691475%;
	top: 95.69112627986348%;
}
#AZALEA_TOWN_HIDDEN_FULL_HEAL {
	left: 25.63430311231394%;
	top: 92.66211604095562%;
}
#CHARCOAL_IN_CHARCOAL_KILN {
	left: 24.281123139377538%;
	top: 95.00853242320818%;
}
#kurts_house {
	left: 22.65730717185386%;
	top: 92.27815699658703%;
}
#slowpoke_well {
	left: 25.63430311231394%;
	top: 92.9820819112628%;
}
/*Goldenrod City*/
#BICYCLE {
	left: 21.304127198917456%;
	top: 75.89590443686006%;
}
#goldenrod_dept_store {
	left: 20.62753721244926%;
	top: 75.21331058020478%;
}
#SQUIRTBOTTLE {
	left: 21.845399188092017%;
	top: 67.70477815699658%;
}
#goldenrod_gym {
	left: 20.62753721244926%;
	top: 68.38737201365187%;
}
#goldenrod_underground {
	left: 18.868403247631935%;
	top: 75.89590443686006%;
}
#radio_tower {
	left: 18.056495263870094%;
	top: 70.96843003412968%;
}
/*Ecruteak City*/
#burned_tower {
	left: 20.762855209742895%;
	top: 30.866040955631398%;
}
#HM03_SURF {
	left: 23.19857916102842%;
	top: 36.326791808873715%;
}
#ECRUTEAK_CITY_HIDDEN_HYPER_POTION {
	left: 23.223951285520975%;
	top: 33.89505119453925%;
}
#ecruteak_gym {
	left: 20.898173207036535%;
	top: 38.35324232081911%;
}
#ITEMFINDER {
	left: 21.845399188092017%;
	top: 38.374573378839585%;
}
#tin_tower {
	left: 25.09303112313938%;
	top: 31.54863481228669%;
}
/*Olivine City*/
#METAL_COAT_FROM_GRANDPA_ON_SS_AQUA {
	left: 12.779093369418133%;
	top: 62.819965870307165%;
}
#HM04_STRENGTH {
	left: 11.561231393775373%;
	top: 52.00511945392491%;
}
#GOOD_ROD {
	left: 12.373139377537212%;
	top: 49.95733788395904%;
}
#olivine_gym {
	left: 11.967185385656293%;
	top: 48.59215017064846%;
}
#olivine_lighthouse {
	left: 14.538227334235454%;
	top: 54.05290102389078%;
}
#OLIVINE_PORT_HIDDEN_PROTEIN {
	left: 11.967185385656293%;
	top: 62.58532423208191%;
}
/*Cianwood City*/
#CIANWOOD_CITY_HIDDEN_MAX_ETHER {
	left: 0.4651556156968877%;
	top: 73.03754266211604%;
}
#CIANWOOD_CITY_HIDDEN_REVIVE {
	left: 0.32983761840324766%;
	top: 69.62457337883959%;
}
#cianwood_gym {
	left: 0.8711096075778079%;
	top: 77.94368600682593%;
}
#SECRETPOTION_FROM_PHARMACY {
	left: 1.8183355886332884%;
	top: 79.30887372013652%;
}
/*Mahogany Town*/
#mahogany_gym {
	left: 34.429972936400546%;
	top: 39.71843003412969%;
}
#team_rocket_base {
	left: 35.10656292286874%;
	top: 37.67064846416382%;
}
/*Blackthorn City*/
#SPELL_TAG_FROM_SANTOS {
	left: 47.42050067658999%;
	top: 35.92150170648464%;
}
#blackthorn_gym {
	left: 46.87922868741543%;
	top: 32.89249146757679%;
}
#dragons_den {
	left: 47.14986468200271%;
	top: 29.50085324232082%;
}
/*Pallet Town*/
/*Viridian City*/
#TM42_DREAM_EATER {
	left: 68.25947225981056%;
	top: 50.1919795221843%;
}
#EARTH_BADGE_FROM_BLUE {
	left: 71.7777401894452%;
	top: 44.83788395904437%;
}
/*Pewter City*/
#SILVER_WING {
	left: 71.37178619756428%;
	top: 17.44880546075085%;
}
#pewter_berry_trees {
	left: 71.65087956698241%;
	top: 12.6919795221843%;
}
#BOULDER_BADGE_FROM_BROCK {
	left: 69.61265223274695%;
	top: 17.534129692832764%;
}
/*Cerulean City*/
#CERULEAN_CITY_BERSERK_GENE {
	left: 86.63734776725305%;
	top: 15.784982935153582%;
}
#cerulean_gym {
	left: 90.45162381596752%;
	top: 19.581911262798634%;
}
/*Vermilion City*/
#pokemon_fan_club {
	left: 87.33930987821381%;
	top: 53.029010238907844%;
}
#vermilion_gym {
	left: 87.86366711772666%;
	top: 55.076791808873715%;
}
#HP_UP_FROM_VERMILION_GUY {
	left: 90.58694181326116%;
	top: 52.60238907849829%;
}
#VERMILION_PORT_HIDDEN_IRON {
	left: 90.0456698240866%;
	top: 64.29180887372013%;
}
/*Lavender Town*/
#EXPN_CARD {
	left: 99.1119756427605%;
	top: 38.01194539249146%;
}
/*Celadon City*/
#CELADON_CITY_HIDDEN_PP_UP {
	left: 83.2797699594046%;
	top: 40.08105802047781%;
}
#celadon_gym {
	left: 79.62618403247632%;
	top: 42.7901023890785%;
}
#TM03_CURSE {
	left: 80.43809201623816%;
	top: 34.108361774744026%;
}
/*Saffron City*/
#PASS_FROM_COPYCAT {
	left: 87.60994587280109%;
	top: 33.91638225255973%;
}
#PICKED_UP_FOCUS_BAND {
	left: 89.91035182679296%;
	top: 31.186006825938566%;
}
#TM29_PSYCHIC {
	left: 90.0456698240866%;
	top: 40.05972696245733%;
}
#MARSH_BADGE_FROM_SABRINA {
	left: 90.99289580514208%;
	top: 31.186006825938566%;
}
#UP_GRADE {
	left: 88.82780784844385%;
	top: 37.329351535836174%;
}
/*Fuchsia City*/
#FRUITTREE_FUCHSIA_CITY {
	left: 82.0703653585927%;
	top: 67.29948805460751%;
}
#fuchsia_gym {
	left: 82.06190798376184%;
	top: 76.23720136518772%;
}
/*Cinnabar Island*/
#CINNABAR_ISLAND_HIDDEN_RARE_CANDY {
	left: 71.37178619756428%;
	top: 85.81484641638225%;
}
/*** Routes ***/
/*1*/
#FRUITTREE_ROUTE_1 {
	left: 70.56833558863329%;
	top: 57.060580204778155%;
}
/*2*/
#viridian_forest {
	left: 69.47733423545331%;
	top: 31.889931740614333%;
}
#ROUTE_2_CARBOS {
	left: 71.37178619756428%;
	top: 24.658703071672353%;
}
#ROUTE_2_ELIXER {
	left: 70.69519621109607%;
	top: 41.040955631399314%;
}
#NUGGET_FROM_GUY {
	left: 70.83051420838972%;
	top: 34.598976109215016%;
}
/*4*/
#ROUTE_4_HIDDEN_ULTRA_BALL {
	left: 82.30717185385657%;
	top: 16.126279863481226%;
}
#ROUTE_4_HP_UP {
	left: 84.49763193504737%;
	top: 16.126279863481226%;
}
/*5*/
#CLEANSE_TAG {
	left: 89.09844384303112%;
	top: 27.773037542662113%;
}
/*6*/
#underground_path {
	left: 90.0456698240866%;
	top: 43.472696245733786%;
}
/*8*/
#FRUITTREE_ROUTE_8 {
	left: 96.27875507442491%;
	top: 37.94795221843003%;
}
/*9*/
#ROUTE_9_HIDDEN_ETHER {
	left: 97.36129905277403%;
	top: 22.994880546075084%;
}
/*10*/
#power_plant {
	left: 97.62347767253046%;
	top: 27.090443686006825%;
}
#rock_tunnel {
	left: 98.30006765899866%;
	top: 23.016211604095563%;
}
/*11*/
#DIGLETTS_CAVE_HIDDEN_MAX_REVIVE {
	left: 90.99289580514208%;
	top: 50.9598976109215%;
}
#ROUTE_11_HIDDEN_REVIVE {
	left: 96.13497970230041%;
	top: 50.319965870307165%;
}
#FRUITTREE_ROUTE_11 {
	left: 96.14343707713127%;
	top: 49.21075085324232%;
}
/*12*/
#ROUTE_12_CALCIUM {
	left: 97.89411366711774%;
	top: 57.081911262798634%;
}
#ROUTE_12_HIDDEN_ELIXER {
	left: 99.1119756427605%;
	top: 46.94965870307167%;
}
#ROUTE_12_NUGGET {
	left: 97.89411366711774%;
	top: 59.81228668941979%;
}
#SUPER_ROD {
	left: 98.70602165087958%;
	top: 53.71160409556314%;
}
/*13*/
#ROUTE_13_HIDDEN_CALCIUM {
	left: 95.86434370771313%;
	top: 65.33703071672355%;
}
/*15*/
#ROUTE_15_PP_UP {
	left: 88.01589986468201%;
	top: 74.82935153583617%;
}
/*17*/
#ROUTE_17_HIDDEN_MAX_ELIXER {
	left: 76.64918809201625%;
	top: 72.18430034129692%;
}
#ROUTE_17_HIDDEN_MAX_ETHER {
	left: 76.75913396481732%;
	top: 64.31313993174061%;
}
/*20*/
#VOLCANO_BADGE_FROM_BLAINE {
	left: 78.00236806495265%;
	top: 87.81996587030716%;
}
/*23*/
#victory_road {
	left: 61.62889039242219%;
	top: 49.274744027303754%;
}
/*25*/
#ROUTE_25_HIDDEN_POTION {
	left: 88.55717185385657%;
	top: 1.1732081911262797%;
}
#ROUTE_25_PROTEIN {
	left: 92.34607577807849%;
	top: 0.7679180887372014%;
}
#CLEARED_NUGGET_BRIDGE {
	left: 93.01420838971583%;
	top: 2.111774744027304%;
}
/*26*/
#ROUTE_26_MAX_ELIXER {
	left: 61.89952638700947%;
	top: 52.64505119453925%;
}
#FRUITTREE_ROUTE_26 {
	left: 62.58457374830853%;
	top: 65.93430034129692%;
}
/*27*/
#ROUTE_27_RARE_CANDY {
	left: 57.02807848443843%;
	top: 82.33788395904436%;
}
#ROUTE_27_TM_SOLARBEAM {
	left: 57.97530446549391%;
	top: 82.33788395904436%;
}
#TM37_SANDSTORM {
	left: 54.321718538565634%;
	top: 80.6740614334471%;
}
#TOHJO_FALLS_MOON_STONE {
	left: 53.37449255751015%;
	top: 79.97013651877133%;
}
/*28*/
#ROUTE_28_HIDDEN_RARE_CANDY {
	left: 58.381258457374834%;
	top: 45.88310580204778%;
}
#TM47_STEEL_WING {
	left: 55.94553450608931%;
	top: 46.203071672354945%;
}
#SILVER_CAVE_OUTSIDE_HIDDEN_FULL_RESTORE {
	left: 50.73579161028417%;
	top: 47.589590443686006%;
}
#silver_cave {
	left: 52.02131258457375%;
	top: 42.76877133105802%;
}
/*29*/
#ROUTE_29_POTION {
	left: 45.526048714479025%;
	top: 78.92491467576791%;
}
#PINK_BOW_FROM_TUSCANY {
	left: 42.68437077131259%;
	top: 83.68174061433447%;
}
#FRUITTREE_ROUTE_29 {
	left: 40.66305818673884%;
	top: 78.90358361774743%;
}
/*30*/
#mr_pokemons_house {
	left: 37.271650879566984%;
	top: 61.56143344709897%;
}
#route_30_house {
	left: 35.791610284167795%;
	top: 73.10153583617748%;
}
/*31*/
#dark_cave_violet {
	left: 36.86569688768606%;
	top: 55.39675767918089%;
}
#ROUTE_31_POKE_BALL {
	left: 35.10656292286874%;
	top: 58.105802047781566%;
}
#ROUTE_31_POTION {
	left: 36.18910690121786%;
	top: 55.37542662116041%;
}
#route_31_south_of_pond {
	left: 34.50608930987821%;
	top: 56.036689419795216%;
}
/*32*/
#ROUTE_32_GREAT_BALL {
	left: 27.66407307171854%;
	top: 77.90102389078498%;
}
#ROUTE_32_HIDDEN_SUPER_POTION {
	left: 28.340663058186742%;
	top: 73.54948805460751%;
}
#ROUTE_32_REPEL {
	left: 27.249661705006766%;
	top: 70.05119453924914%;
}
#MIRACLE_SEED_IN_ROUTE_32 {
	left: 29.41474966170501%;
	top: 62.52133105802047%;
}
#TM05_ROAR {
	left: 28.890392422192154%;
	top: 64.14249146757679%;
}
#frieda {
	left: 28.467523680649528%;
	top: 82.65784982935153%;
}
#OLD_ROD {
	left: 28.340663058186742%;
	top: 84.76962457337883%;
}
#union_cave {
	left: 27.66407307171854%;
	top: 86.79607508532423%;
}
/*33*/
#FRUITTREE_ROUTE_33 {
	left: 28.755074424898513%;
	top: 95.96843003412968%;
}
/*34*/
#ilex_forest {
	left: 21.566305818673886%;
	top: 94.06996587030716%;
}
#ROUTE_34_HIDDEN_SUPER_POTION {
	left: 21.033491204330176%;
	top: 84.81228668941979%;
}
#route_34_items_across_water {
	left: 19.680311231393777%;
	top: 88.48122866894198%;
}
#SOFT_SAND_FROM_KATE {
	left: 19.544993234100136%;
	top: 95.60580204778157%;
}
#TM12_SWEET_SCENT {
	left: 20.492219215155618%;
	top: 92.27815699658703%;
}
/*35*/
#national_park {
	left: 19.139039242219216%;
	top: 55.41808873720136%;
}
#ROUTE_35_TM_ROLLOUT {
	left: 20.492219215155618%;
	top: 59.15102389078498%;
}
#FRUITTREE_ROUTE_35 {
	left: 19.01217861975643%;
	top: 62.18003412969283%;
}
#HP_UP_FROM_RANDY {
	left: 19.950947225981057%;
	top: 66.339590443686%;
}
/*36*/
#route_36_npc_gifts {
	left: 24.8223951285521%;
	top: 50.08532423208191%;
}
#FRUITTREE_ROUTE_36 {
	left: 21.58322056833559%;
	top: 48.86945392491467%;
}
#ruins_of_alph_aerodactyl {
	left: 26.310893098782138%;
	top: 64.95307167235495%;
}
#ruins_of_alph_kabuto {
	left: 26.040257104194858%;
	top: 56.079351535836174%;
}
#ruins_of_alph_omanyte {
	left: 24.416441136671178%;
	top: 63.58788395904436%;
}
/*37*/
#ROUTE_37_HIDDEN_ETHER {
	left: 21.980717185385657%;
	top: 42.1075085324232%;
}
#sunny {
	left: 23.47767253044655%;
	top: 43.75%;
}
/*38*/
#FRUITTREE_ROUTE_38 {
	left: 16.30581867388363%;
	top: 35.90017064846416%;
}
/*39*/
#ROUTE_39_HIDDEN_NUGGET {
	left: 12.660690121786198%;
	top: 36.96672354948805%;
}
#FRUITTREE_ROUTE_39 {
	left: 13.193504736129906%;
	top: 33.51109215017065%;
}
#TM13_SNORE_FROM_MOOMOO_FARM {
	left: 12.102503382949934%;
	top: 33.57508532423208%;
}
/*40*/
#route_40_beach {
	left: 9.277740189445197%;
	top: 52.943686006825935%;
}
/*41*/
#whirl_islands {
	left: 8.719553450608931%;
	top: 69.73122866894198%;
}
#ROUTE_41_HIDDEN_MAX_ETHER {
	left: 5.082882273342355%;
	top: 75.23464163822526%;
}
/*42*/
#mount_mortar {
	left: 31.72361299052774%;
	top: 37.64931740614334%;
}
#ROUTE_42_HIDDEN_MAX_POTION {
	left: 27.680987821380246%;
	top: 39.0358361774744%;
}
#ROUTE_42_ULTRA_BALL {
	left: 26.310893098782138%;
	top: 36.60409556313993%;
}
#ROUTE_42_SUPER_POTION {
	left: 29.96447902571042%;
	top: 37.96928327645051%;
}
#route_42_berry_trees {
	left: 29.296346414073074%;
	top: 40.67832764505119%;
}
/*43*/
#LAKE_OF_RAGE_HIDDEN_FULL_RESTORE {
	left: 33.753382949932345%;
	top: 14.142491467576791%;
}
#LAKE_OF_RAGE_HIDDEN_MAX_POTION {
	left: 36.984100135318%;
	top: 6.313993174061433%;
}
#lake_of_rage_gyarados {
	left: 34.68369418132612%;
	top: 12.00938566552901%;
}
#LAKE_OF_RAGE_TM_DETECT {
	left: 37.0010148849797%;
	top: 5.2047781569965865%;
}
#ROUTE_43_MAX_ETHER {
	left: 35.24188092016238%;
	top: 27.73037542662116%;
}
#FRUITTREE_ROUTE_43 {
	left: 33.76184032476319%;
	top: 25.661262798634812%;
}
#TM36_SLUDGE_BOMB {
	left: 35.91847090663058%;
	top: 28.79692832764505%;
}
#lake_of_rage_northwest {
	left: 33.07679296346414%;
	top: 6.783276450511945%;
}
/*44*/
#ice_path {
	left: 43.90223274695535%;
	top: 37.64931740614334%;
}
#ROUTE_44_MAX_REPEL {
	left: 38.218876860622466%;
	top: 38.310580204778155%;
}
#ROUTE_44_ULTRA_BALL {
	left: 42.143098782138026%;
	top: 35.92150170648464%;
}
#FRUITTREE_ROUTE_44 {
	left: 37.55074424898512%;
	top: 36.9240614334471%;
}
#route_44_surf {
	left: 40.51928281461434%;
	top: 38.225255972696246%;
}
/*45*/
#dark_cave_blackthorn {
	left: 44.71414073071719%;
	top: 43.11006825938566%;
}
#ROUTE_45_ELIXER {
	left: 44.98477672530447%;
	top: 48.54948805460751%;
}
#ROUTE_45_MAX_POTION {
	left: 45.526048714479025%;
	top: 52.64505119453925%;
}
#ROUTE_45_NUGGET {
	left: 45.255412719891744%;
	top: 58.788395904436854%;
}
#ROUTE_45_REVIVE {
	left: 45.255412719891744%;
	top: 63.907849829351534%;
}
#route_45_southeast_pond {
	left: 46.617050067659%;
	top: 69.34726962457337%;
}
/*46*/
#ROUTE_46_X_SPEED {
	left: 41.737144790257105%;
	top: 70.05119453924914%;
}
#route_46_berry_trees {
	left: 42.74357239512855%;
	top: 67.85409556313992%;
}
/*E4*/
#EVENT_DEFEAT_LANCE {
	left: 61.69654939106901%;
	top: 41.76621160409556%;
}
