/*** Cities ***/
/*New Bark Town*/
#elms_lab {
	left: 47.96177266576455%;
	top: 79.30887372013652%;
}
#POKEGEAR {
	left: 48.90899864682003%;
	top: 79.9914675767918%;
}
/*Cherrygroce City*/
#MYSTIC_WATER_IN_CHERRYGROVE {
	left: 34.57374830852503%;
	top: 82.23122866894198%;
}
#MAP_CARD {
	left: 37.948240866035185%;
	top: 80.24744027303754%;
}
/*Violet City*/
#sprout_tower {
	left: 29.96447902571042%;
	top: 49.296075085324226%;
}
#FRUITTREE_VIOLET_CITY {
	left: 28.755074424898513%;
	top: 57.4018771331058%;
}
#VIOLET_CITY_HIDDEN_HYPER_POTION {
	left: 31.867388362652235%;
	top: 52.367747440273035%;
}
#VIOLET_CITY_PP_UP {
	left: 27.39343707713126%;
	top: 47.86689419795221%;
}
#VIOLET_CITY_RARE_CANDY {
	left: 31.5882949932341%;
	top: 49.232081911262796%;
}
#violet_gym {
	left: 29.28788903924222%;
	top: 53.370307167235495%;
}
/*Azalea Town*/
#azalea_gym {
	left: 22.7926251691475%;
	top: 95.69112627986348%;
}
#AZALEA_TOWN_HIDDEN_FULL_HEAL {
	left: 25.63430311231394%;
	top: 92.66211604095562%;
}
#CHARCOAL_IN_CHARCOAL_KILN {
	left: 24.281123139377538%;
	top: 95.00853242320818%;
}
#kurts_house {
	left: 22.65730717185386%;
	top: 92.27815699658703%;
}
#slowpoke_well {
	left: 25.63430311231394%;
	top: 92.9820819112628%;
}
/*Goldenrod City*/
#BICYCLE {
	left: 21.304127198917456%;
	top: 75.89590443686006%;
}
#goldenrod_dept_store {
	left: 20.62753721244926%;
	top: 75.21331058020478%;
}
#SQUIRTBOTTLE {
	left: 21.845399188092017%;
	top: 67.70477815699658%;
}
#goldenrod_gym {
	left: 20.62753721244926%;
	top: 68.38737201365187%;
}
#goldenrod_underground {
	left: 18.868403247631935%;
	top: 75.89590443686006%;
}
#radio_tower {
	left: 18.056495263870094%;
	top: 70.96843003412968%;
}
/*Ecruteak City*/
#burned_tower {
	left: 20.762855209742895%;
	top: 30.866040955631398%;
}
#HM03_SURF {
	left: 23.19857916102842%;
	top: 36.326791808873715%;
}
#ECRUTEAK_CITY_HIDDEN_HYPER_POTION {
	left: 23.223951285520975%;
	top: 33.89505119453925%;
}
#ecruteak_gym {
	left: 20.898173207036535%;
	top: 38.35324232081911%;
}
#ITEMFINDER {
	left: 21.845399188092017%;
	top: 38.374573378839585%;
}
#tin_tower {
	left: 25.09303112313938%;
	top: 31.54863481228669%;
}
/*Olivine City*/
#METAL_COAT_FROM_GRANDPA_ON_SS_AQUA {
	left: 12.779093369418133%;
	top: 62.819965870307165%;
}
#HM04_STRENGTH {
	left: 11.561231393775373%;
	top: 52.00511945392491%;
}
#GOOD_ROD {
	left: 12.373139377537212%;
	top: 49.95733788395904%;
}
#olivine_gym {
	left: 11.967185385656293%;
	top: 48.59215017064846%;
}
#olivine_lighthouse {
	left: 14.538227334235454%;
	top: 54.05290102389078%;
}
#OLIVINE_PORT_HIDDEN_PROTEIN {
	left: 11.967185385656293%;
	top: 62.58532423208191%;
}
/*Cianwood City*/
#CIANWOOD_CITY_HIDDEN_MAX_ETHER {
	left: 0.4651556156968877%;
	top: 73.03754266211604%;
}
#CIANWOOD_CITY_HIDDEN_REVIVE {
	left: 0.32983761840324766%;
	top: 69.62457337883959%;
}
#cianwood_gym {
	left: 0.8711096075778079%;
	top: 77.94368600682593%;
}
#SECRETPOTION_FROM_PHARMACY {
	left: 1.8183355886332884%;
	top: 79.30887372013652%;
}
/*Mahogany Town*/
#mahogany_gym {
	left: 34.429972936400546%;
	top: 39.71843003412969%;
}
#team_rocket_base {
	left: 35.10656292286874%;
	top: 37.67064846416382%;
}
/*Blackthorn City*/
#SPELL_TAG_FROM_SANTOS {
	left: 47.42050067658999%;
	top: 35.92150170648464%;
}
#blackthorn_gym {
	left: 46.87922868741543%;
	top: 32.89249146757679%;
}
#dragons_den {
	left: 47.14986468200271%;
	top: 29.50085324232082%;
}
/*Pallet Town*/
/*Viridian City*/
#TM42_DREAM_EATER {
	left: 68.25947225981056%;
	top: 50.1919795221843%;
}
#EARTH_BADGE_FROM_BLUE {
	left: 71.7777401894452%;
	top: 44.83788395904437%;
}
/*Pewter City*/
#SILVER_WING {
	left: 71.37178619756428%;
	top: 17.44880546075085%;
}
#pewter_berry_trees {
	left: 71.65087956698241%;
	top: 12.6919795221843%;
}
#BOULDER_BADGE_FROM_BROCK {
	left: 69.61265223274695%;
	top: 17.534129692832764%;
}
/*Cerulean City*/
#CERULEAN_CITY_BERSERK_GENE {
	left: 86.63734776725305%;
	top: 15.784982935153582%;
}
#cerulean_gym {
	left: 90.45162381596752%;
	top: 19.581911262798634%;
}
/*Vermilion City*/
#pokemon_fan_club {
	left: 87.33930987821381%;
	top: 53.029010238907844%;
}
#vermilion_gym {
	left: 87.86366711772666%;
	top: 55.076791808873715%;
}
#HP_UP_FROM_VERMILION_GUY {
	left: 90.58694181326116%;
	top: 52.60238907849829%;
}
#VERMILION_PORT_HIDDEN_IRON {
	left: 90.0456698240866%;
	top: 64.29180887372013%;
}
/*Lavender Town*/
#EXPN_CARD {
	left: 99.1119756427605%;
	top: 38.01194539249146%;
}
/*Celadon City*/
#CELADON_CITY_HIDDEN_PP_UP {
	left: 83.2797699594046%;
	top: 40.08105802047781%;
}
#celadon_gym {
	left: 79.62618403247632%;
	top: 42.7901023890785%;
}
#TM03_CURSE {
	left: 80.43809201623816%;
	top: 34.108361774744026%;
}
/*Saffron City*/
#PASS_FROM_COPYCAT {
	left: 87.60994587280109%;
	top: 33.91638225255973%;
}
#PICKED_UP_FOCUS_BAND {
	left: 89.91035182679296%;
	top: 31.186006825938566%;
}
#TM29_PSYCHIC {
	left: 90.0456698240866%;
	top: 40.05972696245733%;
}
#MARSH_BADGE_FROM_SABRINA {
	left: 90.99289580514208%;
	top: 31.186006825938566%;
}
#UP_GRADE {
	left: 88.82780784844385%;
	top: 37.329351535836174%;
}
/*Fuchsia City*/
#FRUITTREE_FUCHSIA_CITY {
	left: 82.0703653585927%;
	top: 67.29948805460751%;
}
#fuchsia_gym {
	left: 82.06190798376184%;
	top: 76.23720136518772%;
}
/*Cinnabar Island*/
#CINNABAR_ISLAND_HIDDEN_RARE_CANDY {
	left: 71.37178619756428%;
	top: 85.81484641638225%;
}
/*** Routes ***/
/*1*/

/*2*/

/*4*/

/*5*/

/*8*/

/*9*/

/*10*/

/*11*/

/*12*/

/*13*/

/*15*/

/*16*/

/*17*/

/*20*/

/*23*/

/*24*/

/*25*/

/*46*/

/*Indigo Plateau*/
